<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/tailwindpresets.css" />
    <title>Members Only</title>
  </head>
  <body>
    <header class="w-full">
      <div
        class="flex h-[100px] items-center justify-between bg-gray-600 px-6 capitalize text-white shadow-md shadow-gray-600"
      >
        <h1 class="text-3xl font-[800]">
          <a
            class="text-gray-200 no-underline transition-colors hover:text-white"
            href="/"
          >
            Blog Manager
          </a>
        </h1>
        <div>
          <ul class="flex list-none items-center gap-3 text-lg text-black">
            <a class="text-black no-underline" href="/users/signup">
              <li class="flex items-center justify-center">
                <button
                  class="whitespace-nowrap rounded-lg border-[1px] border-solid border-gray-200 p-2 px-3 text-lg capitalize text-gray-200 transition-all hover:border-white hover:text-white"
                >
                  sign up
                </button>
              </li>
            </a>
            <% if ( adminAuth) { %>
            <form method="post" action="/auth/logout">
              <a class="text-black no-underline">
                <li>
                  <button
                    type="submit"
                    class="whitespace-nowrap rounded-lg border-[1px] border-solid border-gray-200 p-2 px-3 text-lg capitalize text-gray-200 transition-all hover:border-white hover:text-white"
                  >
                    logout
                  </button>
                </li>
              </a>
            </form>

            <% } else { %>
            <a class="text-black no-underline" href="/auth/login">
              <li>
                <button
                  class="whitespace-nowrap rounded-lg border-[1px] border-solid border-gray-200 p-2 text-lg capitalize text-gray-200 transition-all hover:border-white hover:text-white"
                >
                  login
                </button>
              </li>
            </a>
            <% } %>
          </ul>
        </div>
      </div>
    </header>
  </body>
</html>
